<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/css/custom.form.css}">
    <style id="layuimini-bg-color">
    </style>
<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info">
  <div class="layui-form-item">
    <label class="layui-form-label">客户名</label>
    <div class="layui-input-block">
      <select id="customerId" name="customerId" placeholder="请选择客户" lay-filter="select-type"
              th:with="type=${@customerService.getType()}">
        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">承运方</label>
    <div class="layui-input-block">
      <select id="carrierId" name="carrierId" placeholder="请选择承运方" lay-filter="select-type"
              th:with="type=${@carrierService.getType()}">
        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">物流类型</label>
    <div class="layui-input-block">
      <select id="shipmentTypeId" name="shipmentTypeId" placeholder="请选择物流类型" lay-filter="select-type"
              th:with="type=${@shipmentTypeService.getType()}">
        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">物资类型</label>
    <div class="layui-input-block">
      <select id="goodsId" name="goodsId" placeholder="请选择物资类型" lay-filter="select-type"
              th:with="type=${@goodsService.getType()}">
        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发货数量</label>
    <div class="layui-input-block">
      <input type="num" name="num" placeholder="请输入总数量" autocomplete="off" class="layui-input disabled">
    </div>
  </div>
      <div class="layui-form-item">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <input type="des" name="des" placeholder="请输入备注" autocomplete="off" class="layui-input disabled">
      </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="shipment:list">
    <form class="layui-form ">
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <label class="layui-form-label">名称</label>
          <input type="text" id="key" class="layui-input"  autocomplete="off" placeholder="请输入">
        </div>

      </div>

      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </form>
  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container oper">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="shipment:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="shipment:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="shipment:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="shipment:delete">删除</a>
</script>

</body>
</html>
<script th:inline="javascript" type="text/javascript">
  var ctx = '[[@{/}]]'.replaceAll("\"", "").replace('//', '/');
</script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/core.util.js}"></script>
<script>
  // //客户字典数据
  // var datas1 = "[[${@customerService.getType()}]]".replace(/&quot;/g, "\"");
  // //承运方字典数据
  // var datas2 = "[[${@carrierService.getType()}]]".replace(/&quot;/g, "\"");
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;

  layui.use(['table', 'layer', 'laydate', 'form'], function () {
    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: ctx + 'shipment/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'id', title: 'ID', sort: true},
          // ??? 为什么报错CoreUtil.selectName不是函数？
          // {field: 'customerId', title: '客户名', sort: true, templet: function (item) {
          //   console.log(datas1)
          //   return CoreUtil.selectName(datas1, item.customerId);
          // }},
          // {field: 'carrierId', title: '承运方', sort: true, templet: function (item) {
          //   return CoreUtil.selectName(datas2, item.carrierId);
          // }},
          // {field: 'shipmentTypeId', title: '物流类型', sort: true},
          {field: 'originAddress', title: '发货详细地址', sort: true},
          // {field: 'originCity', title: '发货地', sort: true},
          // {field: 'originCountry', title: '发货地国家', sort: true},
          // {field: 'originPostalCode', title: '发货地邮编', sort: true},
          {field: 'destinationAddress', title: '收货详细地址', sort: true},
          // {field: 'destinationCity', title: '收货地', sort: true},
          // {field: 'destinationCountry', title: '收货地国家', sort: true},
          // {field: 'destinationPostalCode', title: '收货地邮编', sort: true},
          // {field: 'des', title: '备注', sort: true},
          {field: 'weight', title: '总重量', sort: true},
          {field: 'value', title: '总价值', sort: true},
          {field: 'orderStatus', title: '运单状态', sort: true},
          {field: 'pickupDate', title: '发货日期', sort: true},
          {field: 'deliveryDate', title: '收货日期', sort: true},
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          toUnDisabled();
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");

          setTimeout(function () {
            form.val('info', {
              "test": "test"
              , "customerId": ""
              , "carrierId": ""
              , "shipmentTypeId": ""
              , "isFreeShipping": ""
              , "des": ""
              , "goodsId": ""
              , "num": ""
            });
          }, 200);
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'look':
          backshow(data);
          toDisabled();
          break;
        case 'edit':
          backshow(data);
          $(".title").html("编辑");
          toUnDisabled();
          break;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost(ctx + "shipment/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete(ctx + "shipment/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost(ctx + "shipment/add",data.field,function (res) {
          CoreUtil.sendPost(ctx + "carrierBilling/add", res.data);
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut(ctx + "shipment/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        key: $("#key").val()
      }
      , page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };

  //回显
  function backshow(data) {
    $(".table_div").hide();
    $(".operation").show();
    $(".title").html("查看");
    setTimeout(function () {
      form.val('info', {
        "test": "test"
        , "orderId": data.orderId
        , "customerId": data.customerId
        , "carrierId": data.carrierId
        , "shipmentTypeId": data.shipmentTypeId
        , "isFreeShipping": data.isFreeShipping
        , "originAddress": data.originAddress
        , "originCity": data.originCity
        , "originCountry": data.originCountry
        , "originPostalCode": data.originPostalCode
        , "destinationAddress": data.destinationAddress
        , "destinationCity": data.destinationCity
        , "destinationCountry": data.destinationCountry
        , "destinationPostalCode": data.destinationPostalCode
        , "des": data.des
        , "weight": data.weight
        , "value": data.value
        , "orderStatus": data.orderStatus
        , "pickupDate": data.pickupDate
        , "estimatedDeliveryDate": data.estimatedDeliveryDate
        , "actualDeliveryDate": data.actualDeliveryDate
      });
    }, 200);
  }

  //禁用输入
  function toDisabled() {
    $(".oper").hide();
    $(".disabled").each(function (index, elem) {
      $(elem).attr("disabled", "")
    })
  }

  //放开输入
  function toUnDisabled() {
    $(".oper").show();
    $(".disabled").each(function (index, elem) {
      $(elem).removeAttr("disabled", "")
    })
  }
</script>